<!DOCTYPE html>
<html lang="en">

<head>

	<!--<script data-main="js/main.js" src="js/require.js"></script>-->
	<!--<script src="js/clarify_node.js"></script>-->
	<script src="js/audio/audio_handlers.js"></script>
	<script src="js/audio/resampler.js"></script>
	<script src="js/utils/promises/q.js"></script>
	<script src="js/utils/data_utils.js"></script>
	<script src="js/utils/string_utils.js"></script>

    <script src="js/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

</head>

<body ng-app="HaikuApp">


	<!-- Page Content -->
    <div class="container" ng-controller="MainController">
		<input type="text" name="image" ng-model="image.url">
		<button type="button" ng-click="buttonClick()">Make me a Haiku!</button>
		<p ng-repeat="line in haiku">{{line.join(" ")}}<p>
    </div>
    
	<!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <!-- Directives -->

    <!-- Services -->

</body>

</html>
