<!DOCTYPE html>
<html style="background: url('http://conuhacks.io/images/skyline.jpg') no-repeat center center fixed;" lang="en">

<head>

	<!--<script data-main="js/main.js" src="js/require.js"></script>-->
	<!--<script src="js/clarify_node.js"></script>-->
	<script src="js/audio/audio_handlers.js"></script>
	<script src="js/audio/resampler.js"></script>
	<script src="js/utils/promises/q.js"></script>
	<script src="js/utils/data_utils.js"></script>
	<script src="js/utils/string_utils.js"></script>

    <script src="js/angular.min.js"></script>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

</head>

<body ng-app="HaikuApp">

<div class="container" ng-controller="MainController">

<div class = "header";  align = "center";>
    <h1 align="center";>&nbsp;&nbsp;&nbsp;&nbsp;<h1>Image To Haiku</h1>
    <img src="http://conuhacks.io/images/logo.svg" alt="ConUHacks" class="logo"></h1><br>
</div>
<div class = "center"><br>
    <input class="haiku" type="text" name="image" ng-model="image.url" placeholder="Enter Image URL">
</div>

<div class="bar">
    <button type="button" ng-click="buttonClick()">Make me a Haiku!</button>
    <!--<p id="haiku" ng-repeat="line in haiku">{{line.join(" ")}}<p>-->
    <p class="haiku" id="haiku1"></p>
    <p class="haiku" id="haiku2"></p>
    <p class="haiku" id="haiku3"></p>
</div><br>  

<img class="image" src="{{image.url}}" alt="Image" height="350" width="600">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<textarea name="styled-textarea"; id="styled" onfocus="this.value=''"; onblur="setbg('white')"></textarea>-->

<br>
<p class="bar"></p>
<div align="center">
    <img src="http://www.clarifai.com/static/img_ours/logo-dark-RGB.png" alt="Clarifai" height="82" width="287">

    <img align="center" src="https://nms.nuancehdp.com/NMCHTML/Images/Nuance_Logo.png" alt="Nuance" height="200" width="330">

    <img src="http://conuhacks.io/images/logo.svg" alt="ConUHacks" height="100" width="120">
</div>
</div>  
	
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <!-- Directives -->

    <!-- Services -->

</body>

</html>
